<html>
    <header>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </header>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 class="text" style="font-size: 400%;">Recommended: <%= name %></h1>
            <hr class="thin">
            <% users.forEach(function(user) { %>
                <div class="box">
                    <form action="/dishes" method="post">
                        <input type="hidden" id="a" name="name" value="<%= user.name %>">
                        <button class="btn info"><%= user.name %></button>
                    </form>
                    <p class="text">Slagging <%= user.slagging %></p>
                 </div>
            <% }); %>
            <br><br>
        </div>
    </body>
</html>
