<html>
    <header>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </header>
    <head>

    </head>
    <body>
        <p class="text"><%= name %></p>
        <form action="/name" method="post">
            <input type="text" id="b" name="fname"><br><br>
            <input type="text" id="a" name="lname"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
